@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
body, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#menu{
  text-decoration: none;
  color: rgb(156, 200, 252);
}
.navContainer, .footContainer{
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(13, 10, 24);
}
.active{
  color: white !important;
}
.footContainer{
  margin-top: auto;
}
p{
  margin: 0;
  color: rgb(156, 200, 252);
}
.container{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
input{
  width: 18rem;
  height: 0.5rem;
  padding: 1rem;
  display: block;
}
img{
  width: 30rem;
  height: 25rem;
}
.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.container{
  font-family: 'Orbitron', sans-serif;
}
h1{
  font-size: 5rem;
  margin-bottom: 2.5rem;
}
h3{
  margin-top: 0;
  font-size: 2rem;
}
.goBack{
  color: rgb(105, 146, 196) !important;
  text-decoration: none;
  font-size: 1.5rem;
}
.goBack:hover{
  color: blue !important;
}