body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#menu{
  text-decoration: none;
  color: rgb(156, 200, 252);
}
.navContainer{
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  background-color: rgb(13, 10, 24);
}
.active{
  color: white !important;
}