body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background: rgb(235, 125, 235);
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 25rem;
    height: 25rem;
    background-color: white;
    border-radius: 20px;
}
.addBtn, .minusBtn{
    width: 7rem;
    height: 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.addBtn{
    background-color: rgb(59, 184, 59) !important;
    color: white !important;
}
.minusBtn{
    background-color: red !important;
    color: white !important;
}
.addBtn:hover{
    color: rgb(59, 184, 59) !important;
    background-color: white !important;
}
.minusBtn:hover{
    color: red !important;
    background-color: white !important;
}
.icon{
    font-size: 3rem !important;
}
.heading, .buttons{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result{
    font-size: 6rem;
    text-shadow: 13px 6px 7px rgba(0,0,0,0.25);
}
.buttons{
    justify-content: space-evenly;
}
@media (max-width: 768px) {
    .container{
        width: 20rem;
        height: 20rem;
    }
    .addBtn, .minusBtn{
        width: 6rem;
        height: 4.5rem;
    }
    .result{
        font-size: 4.5rem;
    }
    .icon{
        font-size: 2rem !important;
    }
}